/* style.css */

/* Define root variables for colors, fonts, and spacing */
:root {
    --primary-color: hsl(0, 0%, 0%);
    --accent-color: #007bff;
    --background-color: #f7f7f7;
    --text-color: #ffffff;
    --font-family: 'Arial', sans-serif;
    --font-size-regular: 1rem;
    --font-size-large: 2rem;
    --spacing-small: 0.5rem;
    --spacing-medium: 1rem;
    --spacing-large: 2rem;
    --border-radius: 50%;
    --box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  /* Base styles, using variables */
  body, html {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  /* Header styles */
  header {
    background-image: url('../assets/images/header-image.webp');
    padding: var(--spacing-medium);
    box-shadow: var(--box-shadow);
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 0 var(--spacing-medium);
  }

  .avatar-name-container {
    display: flex;
    align-items: center; /* Vertically align items */
}
  
  .header-photo {
    border-radius: var(--border-radius);
    width: 200px; /* smaller than the original 240px to align with the name */
    height: 200px;
    object-fit: cover;
    border: 3px solid var(--text-color);
    margin-right: var(--spacing-medium);
  }
  
  .title-nav h1 {
    color: var(--primary-color);
    font-size: var(--font-size-large);
    margin-right: var(--spacing-large);
  }
  
  /* Navigation styles */
  nav ul {
    list-style: none;
    display: flex;
    gap: var(--spacing-medium);
  }
  
  nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    padding: var(--spacing-small);
    transition: color 0.3s;
  }
  
  nav ul li a:hover {
    color: var(--accent-color);
  }
  
  /* Main content styles */
  main {
    padding-top: var(--spacing-large);
    background-color: #fafaf0;
    padding-bottom: 66px;
    
  }
  
  section {
    position: relative;;
    padding: var(--spacing-large);
    margin: var(--spacing-large) auto;
    max-width: 1100px;
    box-shadow: var(--box-shadow);
    margin-bottom: 80px;
  }
  
  section h2 {
    font-size: var(--font-size-large);
    color: var(--primary-color);
    border-left: 5px solid var(--accent-color);
    padding-left: var(--spacing-medium);
  }
  
  .section-content {
    display: flex;
    align-items: center;
  }
  
  .section-line {
    background-color: var(--accent-color);
    margin-right: var(--spacing-medium);
  }
  
  .section-text p {
    font-size: var(--font-size-regular);
    line-height: 1.6;
    color: #666;
  }
  
  /* Footer styles */
  footer {
    background-color: #2c3e50;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 100px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .header-content {
      flex-direction: column;
      align-items: center;
    }
  
    .title-nav h1 {
      margin-top: var(--spacing-small);
      
    }
  
    nav ul {
      flex-direction: column;
      gap: var(--spacing-small);
    }
  
    nav ul li a {
      padding: var(--spacing-small) var(--spacing-medium);
    }
  }



  .name-container h1 {
   
    font-size: 2.2rem;
    margin: 0;
    margin-bottom: 5px;
    display: inline-block;
   

}
header h2 {
    color: #000000;
    background-color: white;

}
/* Apply a background to all text within header, nav, and section */
header h1, header h2, header p, header nav a{
    background-color: #e2e2e2;; /* Black background */
    color: var(--primary-color); 
    padding: 0.2rem; /* Padding for spacing */
    display: inline-block; /* Make the background only as wide as the text */
    white-space: nowrap;
}
.container > h2 {
    position: absolute;
    top: -49px;
    left: 20px;
    background: transparent;
    padding-left: 20px;
    color: #27496d;
    font-size: 2.5rem;
    border-left: 5px solid #007bff;
    padding-left: 20px;
    margin: 0;



}

  